
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .btn-checkout {
    padding: 5px 10px;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
  }
  .pagination li i,.fa-trash {
    color: goldenrod;
  }

  .pagination li input {
    width: 40px;
  }